.orderPlaced {
	height:200px;
	width:400px;
	padding-top: 30px; 
  display: none;
  background: #EE6D4D;
  font-size: 3rem;
  color:white;
  margin-top: 100px; 
  padding-left: 30px; 
  padding-right:30px; 

}